<app-template-b [title]="title" [subtitle]="subtitle">

  <app-tableau-light [headers]="headers">

    <tr *ngFor="let itemNikki of collection$ | async as collection">
      <td>{{ itemNikki.typePresta }}</td>
      <td>{{ itemNikki.client }}</td>
      <td>{{ itemNikki.nbJours }}</td>
      <td>{{ itemNikki.tjmHt | currency: 'EUR' }}</td>
      <td>{{ itemNikki | total | currency: 'EUR' }}</td>
      <td>{{ itemNikki | total : 'ttc' | currency: 'EUR' }}</td>
      <td [appState]="itemNikki.state">
        <select (change)="changeState(itemNikki, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === itemNikki.state">{{ state }}
          </option>
        </select>
      </td>
    </tr>

  </app-tableau-light>

  <app-button [label]="label" [route]="route"></app-button>
  <app-button [label]="label" [externalLink]="externalLink"></app-button>

</app-template-b>
