<app-template-b [title]="title" [subtitle]="subtitle">

  <app-tableau-light [headers]="headers">

    <tr (click)="edit(itemNikki)" *ngFor="let itemNikki of collection$ | async as collection">
      <td>{{ itemNikki.typePresta }}</td>
      <td>{{ itemNikki.client }}</td>
      <td>{{ itemNikki.nbJours }}</td>
      <td>{{ itemNikki.tjmHt | currency: 'EUR' }}</td>
      <td>{{ itemNikki | total | currency: 'EUR' }}</td>
      <td>{{ itemNikki | total : 'ttc' | currency: 'EUR' }}</td>
      <td [appState]="itemNikki.state">
        <select (click)="$event.stopPropagation()" (change)="changeState(itemNikki, $event)">
          <option *ngFor="let state of states" [value]="state" [selected]="state === itemNikki.state">{{ state }}
          </option>
        </select>
      </td>
      <td>
        <fa-icon [icon]="faTrashAlt" (click)="$event.stopPropagation(); delete(itemNikki)"></fa-icon>
      </td>
      <td>
        <fa-icon [icon]="faAlignCenter" (click)="$event.stopPropagation(); details(itemNikki)"></fa-icon>
      </td>
    </tr>

  </app-tableau-light>

  <app-button [label]="label" [route]="route"></app-button>
  <app-button [label]="label" [externalLink]="externalLink"></app-button>

  <app-nav-inline [list]="listLinks"></app-nav-inline>

  <router-outlet></router-outlet>

</app-template-b>
